
Project/BattleChessProject/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Project/BattleChessProject/Library/ArtifactDB
Project/BattleChessProject/Library/Artifacts/14/14693735fe16e15f520890b918795555
Project/BattleChessProject/Library/Artifacts/19/190c86a8d9329db068796b10f8537707
Project/BattleChessProject/Library/Artifacts/1c/1c92dd06ac2162cae585919a2a7e6235
Project/BattleChessProject/Library/Artifacts/1e/1ea0c91b08b325913d424da4fa2a968a
Project/BattleChessProject/Library/Artifacts/2e/2e60cec154d003d7c2c0c3d7dc0136ce
Project/BattleChessProject/Library/Artifacts/2f/2f5c25c06bf856c46e2073b9b81df6b8
Project/BattleChessProject/Library/Artifacts/4c/4c2a81d043b0005c6978fd198e2bb095
Project/BattleChessProject/Library/Artifacts/4c/4cf33b2414e0bdb26ba88d4cae7e5e8f
Project/BattleChessProject/Library/Artifacts/4d/4dc5e7313eb16dc2f74515a6d06e0268
Project/BattleChessProject/Library/Artifacts/80/80b2ccfee0119f83feb31b235868ee0e
Project/BattleChessProject/Library/Artifacts/84/84218bda5fcb12d4692a3a116c1362ff
Project/BattleChessProject/Library/Artifacts/b4/b483679f7bd37d154175dae6178380bc
Project/BattleChessProject/Library/Artifacts/e9/e9fdcb8809353be2c2b11254ddc87110
Project/BattleChessProject/Library/Artifacts/ef/ef50c9c2fa012d3dac6a7a891fb589af
Project/BattleChessProject/Library/Artifacts/f9/f988e324ea5eb2410c44c92354e5d1da
Project/BattleChessProject/Library/CurrentLayout-default.dwlt
Project/BattleChessProject/Library/expandedItems
Project/BattleChessProject/Library/LastSceneManagerSetup.txt
Project/BattleChessProject/Library/SceneVisibilityState.asset
Project/BattleChessProject/Library/ScriptAssemblies/Assembly-CSharp.dll
Project/BattleChessProject/Library/ScriptAssemblies/Assembly-CSharp.pdb
Project/BattleChessProject/Library/ShaderCache/EditorEncounteredVariants
Project/BattleChessProject/Library/SourceAssetDB
Project/BattleChessProject/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Project/BattleChessProject/Logs/ApiUpdaterCheck.txt
Project/BattleChessProject/Logs/AssetImportWorker0-prev.log
Project/BattleChessProject/Logs/AssetImportWorker0.log
Project/BattleChessProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Project/BattleChessProject/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Project/BattleChessProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/BattleChessProject/ProjectSettings/EditorBuildSettings.asset
Project/BattleChessProject/UserSettings/EditorUserSettings.asset
